[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/responsive-images"]
	path = site/plugins/responsive-images
	url = git@github.com:jancbeck/kirby-responsive-images.git
