// import basscss
// TODO: Split this file up and import via reference;

@import 'basscss/site/css/site.less';

// Layout

body {
	&:extend(.container, .px2); 
}
header[role='navigation'] {
	&:extend(.py3, .mb3, .border-bottom, .h4, .center);
	a {
		&:extend(.avenir, .caps, .bold, .mt2);
	}
	h1 {
		&:extend(avenir, .md-h1, .lg-h2, .caps, .m0);
	}
} 
article[role='article'] {
	> p:first-child {
		&:extend(.h2);
	} 
}
section[role="main"] {
		&:extend(.mxn2);
}
footer[role='contentinfo'] {
	&:extend(.py3, .mt3, .mb4, .border-top, .clearfix);
}
form[role='search'] {
	&:extend(.mb2);
	@media (min-width: 40em) { // make use of variables
		&:extend(.right);
	}
}
nav[role='navigation'] {
	ul {
		&:extend(.list-reset);
	}
	li {
		&:extend(.inline-block, .mr1);
	}
}
form[role='search'],
nav[role='navigation'] {
	&:extend(.col, .sm-col-6, .col-12);
}
a[href='#content'] {
	&:extend(.hide);
}
a[href='#top'] {
	clear: both;
	&:extend(.sm-hide, .block, .button, .mt2, .button-blue-outline, .mb1, .py1, .center);
}

// Content
img, video {
	height: auto;
}
video {
	&:extend(.fit);
}
figure {
	&:extend(.center, .mx-auto);
}
figcaption {
	&:extend(.mid-gray);	
}
strong {
	&:extend(.strong);  
}
blockquote {
	&:extend(.border-left, .mr0);  
}
pre {
	&:extend(.p1);  
}
code {
	&:extend(.px1);  
}
.footnotes {
	hr {
		&:extend(.hide);
	}
	&:extend(.bg-lighter-gray, .mb2);
	p {
		&:extend(.bg-lighter-gray, .mb2, .h6);
	}
}
article[role="article"] > {
	dl, ol, p, ul, blockquote, h2, h3, h4, h5, h6 {
		&:extend(.mx-auto, .px2);
		max-width: 40rem;
	}
	ul, ol {
		&:extend(.px4);
		box-sizing: border-box;
	}
}

.highlight br {
	&:extend(.hide);
}

/* Solarized (Dark) */
// https://github.com/kpumuk/codecolorer

.highlight .co0, .highlight .co1, .highlight .co2, .highlight .co3, .highlight .co4, .highlight .coMULTI
	{ color: #97B8C3; }
.highlight .nu0, .highlight .re3
	{ color: #269186; }
.highlight .st0, .highlight .st_h, .highlight .es0, .highlight .es1
	{ color: #269186; }
.highlight .me1, .highlight .me2
	{ color: #748B00; }
.highlight .kw1, .highlight .kw2, .highlight .sy1
	{ color: #859900; }
.highlight .kw3, .highlight .kw4, .highlight .kw5, .highlight .re2
	{ color: #A57800; }
.highlight .re0, .highlight .re1
	{ color: #268BD2; }
.highlight .br0,  .highlight .sy0
	{ color: #D01F1E; }
.xml .re1
	{ color: #6E9CBE; }
.xml .re0
	{ color: #6D9CBE; }