* {
    box-sizing: border-box;
}
html {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: .5rem;
    height: 100%;
}
body {
    border-radius: 1em;
    border: .075em solid #1e4057;
    color: #1e4057;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vmin;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 18.35em;
    padding: 2em 2em 1em;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}
h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    margin: 0;
}
a, a:active, a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #1e4057;
    border-bottom: .075em solid #1e4057;
}
a:hover, a:focus {
    color: black;
    border-bottom: .075em solid black;
}
svg {
    width: 1em;
    height: 1em;
    position: relative;
    bottom: -.125em;
}
.icon-linkedin {
    fill: #1e4057;
}
a:hover .icon-linkedin, a:focus .icon-linkedin {
    fill: black;
}
p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
@media (prefers-color-scheme: dark) {
  html {
    background: #0d1c26;
  }
  body {
    color: #c2ced6;
    border-color: #c2ced6;
  }
  a, a:active, a:visited {
    color: #c2ced6;
    border-bottom-color: #c2ced6;
  }
  a:hover, a:focus {
    color: white;
    border-bottom-color: white;
  }
  .icon-linkedin {
      fill: #c2ced6;
  }
  a:hover .icon-linkedin, a:focus .icon-linkedin {
    fill: white;
}
}